*{
    margin: 0px;
    font-family: Arial, Helvetica, sans-serif;
}

:root{
    --imagem2: yellow;
    --p1:lightblue;
    --header:orange;
    --rodape:green;
    --textos:white;
    --fundo:black;
}

#tema:checked ~ .conteudo {
    --textos:black;
    --fundo:white;

.conteudo {
  background-color: var(--fundo);
  color: var(--textos);
  transition: background 0.5s, color 0.5s;
}


}
body{
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}


header{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    background-color: var(--header);
    color: white;
    padding: 20px;
}

   .col-1{
        width: 8.33%;
    }
    .col-2{
        width: 16.66%;
    }
    .col-3{
        width: 25%;
    }
    .col-4{
        width: 33.33%;
    }
    .col-5{
        width: 41.66%;
    }
    .col-6{
        width: 50%
    }
    .col-7{
        width: 58.33%
    }
    .col-8{
        width: 66.66%
    }
    .col-9{
        width: 75%
    }
    .col-10{
        width: 83.33%
    }
    .col-11{
        width: 91.66%
    }
    .col-12{
        width: 100%
    }

    main{
        display: flex;
        flex-direction: column;
        flex: 2; 
        
    }
    .container0{
        display: flex;
        flex-direction: column;
        flex:1;
        min-width: 100vh;

    }

    .container1{
        display: flex;
        flex-direction: row;
        justify-content: center;
        padding: 20px;
    }

    .container2{
        display:flex;
        flex-direction: row;
        justify-content: space-around;
        min-height: 50vh;
    }

    .img2{
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: var(--imagem2);

    }

    .p1{
        text-align: center;
        background-color: var(--p1);
    }

    .img1{
        display: flex;
        align-items: center;
        justify-content: center;    
    }

    footer{
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        background-color: var(--rodape);
        align-items: center;
        color: white;
        padding: 10px;
    }

    .p0{
        text-align: justify;
       
    }

    #imagem1 {
        width: 50%;
        padding: 5px;
    }

    #imagem2{
        width: 50%;
    }

